<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>ru.usrsse2.ManDictionary</string>
	<key>CFBundleName</key>
	<string>MAN_SECTION_PLACEHOLDER</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>This dictionary was created from man pages using ManToDictionary by usrsse2 (https://github.com/usr-sse2/ManToDictionary). All contents belong to creators of the original man pages.</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>usrsse2</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
	<key>DCSDictionaryUseSystemAppearance</key>
	<true/>
</dict>
</plist>
